* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'robotoregular', serif; }

@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/roboto/Roboto-Regular-webfont.eot");
  src: url("../fonts/roboto/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Regular-webfont.woff") format("woff"), url("../fonts/roboto/Roboto-Regular-webfont.ttf") format("truetype"), url("../fonts/roboto/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  background-color: #ebeff1;
  text-align: center; }

nav {
  background-color: #646e7b;
  text-align: center; }
  nav input {
    background-color: #838b95;
    margin: 1em 0;
    border: none;
    padding: 1em;
    color: white;
    width: 42%; }

#data {
  width: 20%;
  background: white;
  display: inline-block;
  margin: 4.5em 1em 1em; }

.divRow {
  display: inline-block;
  color: #b5b5b5;
  font-size: 13px;
  width: 9em;
  vertical-align: middle; }

span {
  color: #535d69; }

.temperature {
  font-size: 2.2em; }

.city {
  font-size: 1.4em; }

sup {
  font-size: 14px; }

/*# sourceMappingURL=style.css.map */