@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/roboto/Roboto-Regular-webfont.eot');
  src: url('../fonts/roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto/Roboto-Regular-webfont.woff') format('woff'),
  url('../fonts/roboto/Roboto-Regular-webfont.ttf') format('truetype'),
  url('../fonts/roboto/Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;

}