* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'robotoregular', serif;
}

@import 'fonts';

body {
	background-color: #ebeff1;
	text-align: center;
}

nav {
	background-color: #646e7b;
	text-align: center;
	input {
		background-color: #838b95;
		margin: 1em 0;
		border: none;
		padding: 1em;
    	color: white;
    	width: 42%;
	}
}

#data {
	width: 20%;
    background: white;
    display: inline-block;
    margin: 4.5em 1em 1em;
}

.divRow {
	display: inline-block;
	color: #b5b5b5;
	font-size: 13px;
	width: 9em;
	vertical-align: middle;
}

span {
	color: #535d69;
}

.temperature {
	font-size: 2.2em;
}

.city {
	font-size: 1.4em;
}

sup {
	font-size: 14px;
}